.title {
    color: #ffffff;
    line-height: 1.2em;
}

.nav-link {
    color: white;
    font-weight: bold;
}

html {
    scroll-behavior: smooth;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

button>a {
    font-size: auto;
    color: black;
    text-decoration: none;

}